body {
    text-align:center;
}

.center {
    width: 100%;
    text-align: center !important;
    margin: 10px 10px 10px 10px;
}


table {
    margin-left:auto;
    margin-right:auto;
}

table.border table {
    border: 1px solid black;
}

table.border td {
    border: 1px solid black;
}