body {
}

.center {
    margin: 10px 10px 10px 10px;
}

.margin-top {
    margin-top: 10px;
}

.border {
    border-collapse: collapse;
    border: 1px solid black;
}

.border td {
    text-align: center;
    border: 1px solid black;
}

.header td {
    text-align: center;
    background-color: lightblue;
    border: 1px solid black;
}